body {
  color: white;
  font-size: 20px;
  font-family: helvetica;
  background-color: royalblue;
  /* background-image: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/10675355/The_Verge_Cubeometry_Wallpaper_Landscape.0.png"); */
  background-size: 100%;
}

.backdrop {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(200, 200, 200, 0.2);
}

.backdrop p {
  text-align: center;
  margin: 100px 0;
  padding: 100px 0;
  font-size: 5em;
  font-weight: bolder;
  background-color: black;
  border-color: darkred;
  border-style: solid;
  border-width: 5px;
  cursor: pointer;
}

.cardTable {
  padding: 15px;
}

.hide {
  display: none;
}

button.btn {
  width: 100px;
  height: 100px;
  border-color: darkgreen;
  border-radius: 10px;
  background: green;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  left: 0;
  margin-top: 20px;
}

button.btnDisabled {
  width: 75px;
  height: 75px;
  border-color: darkgreen;
  border-radius: 10px;
  background: lightgreen;
  color: darkgrey;
  font-size: 20px;
  margin-right: 10px;
}

button.btn:hover {
  background: lightgreen;
  color: darkgrey;
}

.mid {
  text-align: center;
  padding: 10px 0;
}

.gutter {
  height: 200px;
  background-color: darkgreen;
}

button.bet {
  width: 60px;
  height: 60px;
  background: lightgray;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 50px;
  border: 4px dashed rgb(37, 18, 18);
  margin: 4px;
}

button.bet:hover {
  border-color: gray;
  color: white;
  width: 70px;
  height: 70px;
}

button.bet2_5 {
  background-color: green;
}

button.bet5 {
  background-color: royalblue;
}

button.bet10 {
  background-color: red;
}

button.bet25 {
  background-color: goldenrod;
}
button.betDisabled {
  width: 60px;
  height: 60px;
  background: lightgray;
  color: black;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 50px;
  border: 4px dashed gray;
  margin: 4px;
  color: gray;
}

.space {
  width: 100px;
}

.numDisplay {
  background: rgb(57, 63, 136);
  padding: 5px 60px;
  border-radius: 10px;
  border-color: whitesmoke;
  opacity: 0.95;
}

.totalDisplay {
  background: rgb(57, 63, 136);
  padding: 5px 100px;
  border-radius: 10px;
  opacity: 0.95;
}

.login {
  background-color: teal;
}

/* PAGE SHELL CSS */

#main-app {
  height: 500px;
}

#root {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}

.app {
  position: absolute;
}

.game-area {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 200px;
  top: 75px;
  bottom: 0;
  right: 0
}

.title-bar {
  height: 75px;
  position: fixed;
  top: 0px;
  z-index: 1;
}

#bjack-logo {
  width: 125px;
}

#bjack-title {
  height: 100%;
  margin-left: 30px;
}

#sidebar-wrapper {
  position: fixed;
  top: 75px;
  bottom: 0px;
  width: 200px;
}

#mySidebar {
  position: absolute;
  height: 100%;
  width: 100%;
}

.player-box1 {
  height: 100%;
  color: white;
  text-align: center;
  padding: 0 !important;
}

.player-box2 {
  height: 50%;
  color: white;
  text-align: center;
  padding: 0 !important;
}

.player-box3 {
  height: 33.3%;
  color: white;
  text-align: center;
  padding: 0 !important;
}

.player-box4 {
  height: 25%;
  color: white;
  text-align: center;
  padding: 0 !important;
}

.character-icon {
  width: 100%;
  padding-left: 10px;
}

.character-box {
  width: 50%;
  float: left;
}

.player-name {
  text-align: center;
  font-size: 16px;
  width: 50%;
  float: left;
}

.player-score {
  font-size: 12px;
}

.player0 {
  background-color: #373b84;
}

.player1 {
  background-color: #1593ac;
}

.player2 {

  background-color: #df773e;
}

.player3 {
  background-color: #e21887;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 40px;
}

.welcome {
  margin-top: 200px;
  height: 100%;
  text-align: center;
}

.form-group {
  overflow: auto;
}

.playerScreen {
  height: 100%;
}

.height-100 {
  height: 100%;
}

.App {
  height: 100%;
}

#root {
  height: 100%
}

html, body {margin:0;padding:0;height:100% !important;}