#background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.box {
  top: -20.5%;
  position: fixed;
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 15%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  margin-left: 5%;
  position:  static;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  z-index: 2;
}

#myBtn:hover {
  background: rgb(199, 15, 190);
  color: black;
}

.content {
  bottom: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#logo {
  height: 55%;
  width: 55%;
  padding-left: 12%;
  position: relative;
  z-index: -1;

  top: 10%;
  bottom: -25%;
}
