.roulette {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .roulette-container {
    display: flex;
    justify-content: center;
    padding: 5px;
    /* position: relative;
    top: -200px; */
  }
  
  #spin {
    font-size: 15px;
    padding: 5px;
    background-color: rgb(52, 52, 146);
    color: white;
    border-radius: 35px;
    border: none;
  }

  #spin:hover {
    background-color: lightblue;
  }